#controls {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 486px;
    height: 104px;
    padding: 32px;
    gap: 16px;
    border-radius: 8px;
    background: rgba(246, 246, 254, 1);
    margin-bottom: 16px;
}

#controls input {
    width: 150px;
    height: 40px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid rgba(128, 128, 128, 1);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: center;
}

[data-create] {
    width: 120px;
    height: 40px;
    padding: 8px 16px;
    border-radius: 8px;
    background: rgba(78, 117, 255, 1);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: center;
}

[data-destroy] {
    width: 120px;
    height: 40px;
    padding: 8px 16px;
    border-radius: 8px;
    background: rgba(255, 78, 78, 1);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: center;
}

[data-destroy]:focus, 
[data-destroy]:hover {
    background: rgba(255, 112, 112, 1);
}

#boxes {
    display: flex;
    flex-wrap: wrap;
    min-width: 486px;
    padding: 32px 28px;
    gap: 44px;
    border-radius: 8px;
    background: rgba(246, 246, 254, 1);
}